#pcoordViz {
    position: absolute;
    /* left: 0px; */
    top: 450px;
}

.desC {
    position: absolute;
    top: 350px;
}

#range-slider-t{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #000000;
    left: 30px;
    top: 310px;
}

#range-slider{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #000000;
    left: 70px;
    top: 310px;
}