.buttonAddP {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    background-color:#3e8e41;
    color: #fff;
    border:none; 
    text-align: center;
    border-radius:10px; 
    padding:10px;
    /* min-height:30px; 
    min-width: 120px; */
    font-size: 15px;
}

.buttonAddP:hover {background-color: #37b73c}

.buttonAddP:active {
    background-color: ##37b73c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonRemP {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    background-color:#b32727;
    color: #fff;
    border:none; 
    text-align: center;
    border-radius:10px; 
    padding:10px;
    /* min-height:30px; 
    min-width: 120px; */
    font-size: 15px;
}

.buttonRemP:hover {background-color: #d83232}

.buttonRemP:active {
    background-color: ##37b73c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}