@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
	background-color: #ffffff;
}

#description{
    /* position: relative; */
    font-size: 35px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

html, body { height: 100%; padding: 0; margin: 0; }

#div1 
{ 
    width: 33.3%; 
    height: 33.3%; 
    float: left; 
    /* background: red; */
}
#div2 
{ 
    width: 33.4%; 
    height: 100%; 
    float: right; 
    background: green;
}
#div3 
{ 
    width: 33.3%; 
    height: 33.3%; 
    float: left; 
    background: blue;
}
#div4 
{ 
    width: 33.3%; 
    height: 33.3%; 
    float: left; 
    background: brown;
}
#div5 
{ 
    width: 33.3%; 
    height: 33.3%; 
    float: left; 
    background: orange;
}
#div6 
{ 
    width: 33.3%; 
    height: 33.3%; 
    float: left; 
    background: violet;
}
#div7
{ 
    width: 33.3%; 
    height: 33.3%; 
    float: left; 
    background: yellow;
}